CSV_PATH="data.csv"
CSV_HEADERS="Stock Level,Price,Product Slug"
STOCK_LEVEL_KEY="Stock Level"
PRICE_KEY="Price"
PRODUCT_SLUG_KEY="Product Slug"
VARIANT_NAME_KEY="Variant Name"

USERNAME=admin
PASSWORD=admin

LOGIN_URL="https://example.com/login"
GET_PRODUCT_BASE_URL="https://example.com/product/"
